.destination--one {
  background-image: url(../assets/images/hawaii.jpg);
}

.destination--two {
  background-image: url(../assets/images/iceland.jpg);
}

.destination--three {
  background-image: url(../assets/images/greece.jpg);
}

.destination {
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 10rem 0;
}

.destination__heading-primary {
  color: #fff;
  font-size: 6.4rem;
  margin-bottom: 8rem;
}

.destination__schedule {
  display: flex;
  gap: 4rem;
  padding: 0 12rem;
}

.destination__itenary-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 2rem;
  text-align: center;
}

.destination__heading-secondary {
  text-align: center;
  border-bottom: 2px solid black;
  margin-bottom: 4rem;
  font-size: 1.8rem;
}

.destination__item-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin-bottom: 6rem;
}

.destination__item {
  background-color: #fefaf5;
  border-radius: 5px;
  padding: 1rem 4rem;
  text-align: center;
  font-size: 1.6rem;
}
